apiVersion: bootstrap.cluster.x-k8s.io/v1alpha4
kind: KubeadmConfigTemplate
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{ .Name }}
    giantswarm.io/cluster: {{ .Name }}
    giantswarm.io/organization: {{ .Organization }}
    release.giantswarm.io/version: {{ .ReleaseVersion }}
  name: {{ .Name }}-md-0
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          kubeletExtraArgs:
            cloud-provider: external
          name: '{{ `{{ local_hostname }}` }}'
