apiVersion: cluster.x-k8s.io/v1alpha4
kind: MachineDeployment
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{ .ClusterName }}
    cluster.x-k8s.io/watch-filter: capi
    giantswarm.io/cluster: {{ .ClusterName }}
    giantswarm.io/organization: {{ .Organization }}
    release.giantswarm.io/version: {{ .ReleaseVersion }}
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  clusterName: {{ .ClusterName }}
  minReadySeconds: 0
  progressDeadlineSeconds: 600
  replicas: 3
  revisionHistoryLimit: 1
  selector:
    matchLabels:
      cluster.x-k8s.io/cluster-name: {{ .ClusterName }}
      cluster.x-k8s.io/deployment-name: {{ .Name }}
  template:
    metadata:
      labels:
        cluster.x-k8s.io/cluster-name: {{ .ClusterName }}
        cluster.x-k8s.io/deployment-name: {{ .Name }}
    spec:
      bootstrap:
        configRef:
          apiVersion: bootstrap.cluster.x-k8s.io/v1alpha4
          kind: KubeadmConfigTemplate
          name: {{ .Name }}
      clusterName: {{ .ClusterName }}
      failureDomain: {{ .FailureDomain }}
      infrastructureRef:
        apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
        kind: OpenStackMachineTemplate
        name: {{ .Name }}
      version: {{ .KubernetesVersion }}
