apiVersion: cluster.x-k8s.io/v1alpha4
kind: Cluster
metadata:
  annotations:
    cluster.giantswarm.io/description: {{ .Description }}
  labels:
    release.giantswarm.io/version: {{ .ReleaseVersion }}
    giantswarm.io/cluster: {{ .Name }}
    cluster.x-k8s.io/cluster-name: {{ .Name }}
    giantswarm.io/organization: {{ .Organization }}
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
{{- if .PodsCIDR }}
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{ .PodsCIDR }}
{{- end }}
  controlPlaneEndpoint:
    host: 10.0.6.191
    port: 6443
  controlPlaneRef:
    apiVersion: controlplane.cluster.x-k8s.io/v1alpha4
    kind: KubeadmControlPlane
    name: {{ .Name }}
  infrastructureRef:
    apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
    kind: VSphereCluster
    name: {{ .Name }}
