apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
kind: VSphereCluster
metadata:
  labels:
    "release.giantswarm.io/version": "{{ .ReleaseVersion }}"
    "giantswarm.io/cluster": "{{ .Name }}"
    "cluster.x-k8s.io/cluster-name": "{{ .Name }}"
    "giantswarm.io/organization": "{{ .Organization }}"
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  controlPlaneEndpoint:
    host: 10.0.6.191 #CHANGE HERE
    port: 6443
  identityRef:
    kind: Secret
    name: {{ .Name }}
  server: vcenter-rhr3c72bx1.ionoscloud.tools
  thumbprint: 4E:79:A1:50:3E:11:C6:CB:34:7A:A8:C8:93:1A:3D:AA:96:AF:73:03
