# Managed in https://github.com/giantswarm/github/tree/main/repositories/override/kubectl-gs/CODEOWNERS

* @giantswarm/team-bumblebee

# The login command changes only with Shield's review.
cmd/login @giantswarm/team-shield
