apiVersion: cluster.x-k8s.io/v1alpha4
kind: Cluster
metadata:
  annotations:
    cluster.giantswarm.io/description: {{ .Description }}
  labels:
    release.giantswarm.io/version: {{ .ReleaseVersion }}
    giantswarm.io/cluster: {{ .Name }}
    cluster.x-k8s.io/cluster-name: {{ .Name }}
    giantswarm.io/organization: {{ .Organization }}
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
{{- if .PodsCIDR }}
  clusterNetwork:
    pods:
      cidrBlocks:
      - {{ .PodsCIDR }}
{{- end }}
  topology:
    class: {{ .Name }}
    version: {{ .KubernetesVersion }}
    controlPlane:
      replicas: 1
      labels:
        cluster.x-k8s.io/cluster-name: {{ .Name }}
        giantswarm.io/cluster: {{ .Name }}
        giantswarm.io/organization: {{ .Organization }}
        release.giantswarm.io/version: {{ .ReleaseVersion }}
    workers:
      machineDeployments:
      - class: {{ .Name }}-worker
        name: {{ .Name }}-worker
        replicas: 3
        labels:
          cluster.x-k8s.io/cluster-name: {{ .Name }}
          giantswarm.io/cluster: {{ .Name }}
          giantswarm.io/organization: {{ .Organization }}
          release.giantswarm.io/version: {{ .ReleaseVersion }}
