apiVersion: controlplane.cluster.x-k8s.io/v1alpha4
kind: KubeadmControlPlaneTemplate
metadata:
  labels:
    release.giantswarm.io/version: {{ .ReleaseVersion }}
    giantswarm.io/cluster: {{ .Name }}
    cluster.x-k8s.io/cluster-name: {{ .Name }}
    giantswarm.io/organization: {{ .Organization }}
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      kubeadmConfigSpec:
        clusterConfiguration:
          apiServer:
            extraArgs:
              cloud-provider: external
          controllerManager:
            extraArgs:
              cloud-provider: external
        initConfiguration:
          nodeRegistration:
            kubeletExtraArgs:
              cloud-provider: external
            name: '{{ `{{ local_hostname }}` }}'
        joinConfiguration:
          nodeRegistration:
            kubeletExtraArgs:
              cloud-provider: external
            name: '{{ `{{ local_hostname }}` }}'
        useExperimentalRetryJoin: true
      machineTemplate:
        infrastructureRef:
          apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
          kind: OpenStackMachineTemplate
          name: {{ .Name }}
      replicas: 1
      version: {{ .KubernetesVersion }}
