apiVersion: bootstrap.cluster.x-k8s.io/v1alpha4
kind: KubeadmConfigTemplate
metadata:
  metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{ .Name }}
    giantswarm.io/cluster: {{ .Name }}
    giantswarm.io/organization: {{ .Organization }}
    release.giantswarm.io/version: {{ .ReleaseVersion }}
  name: {{ .Name }}-md-0
  namespace: {{ .Namespace }}
spec:
  template:
    spec:
      joinConfiguration:
        nodeRegistration:
          criSocket: /var/run/containerd/containerd.sock
          kubeletExtraArgs:
            cloud-provider: external
          name: '{{ `{{ ds.meta_data.hostname }}` }}'
      preKubeadmCommands:
      - hostname "{{ `{{ ds.meta_data.hostname }}` }}"
      - echo "::1         ipv6-localhost ipv6-loopback" >/etc/hosts
      - echo "127.0.0.1   localhost" >>/etc/hosts
      - echo "127.0.0.1   {{ `{{ ds.meta_data.hostname }}` }}" >>/etc/hosts
      - echo "{{ `{{ ds.meta_data.hostname }}` }}" >/etc/hostname
      users:
      - name: capo
        sshAuthorizedKeys:
        - "{{ .SSHPublicKey }}"
        sudo: ALL=(ALL) NOPASSWD:ALL
