apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
kind: OpenStackCluster
metadata:
  labels:
    "release.giantswarm.io/version": "{{ .ReleaseVersion }}"
    "giantswarm.io/cluster": "{{ .Name }}"
    "cluster.x-k8s.io/cluster-name": "{{ .Name }}"
    "giantswarm.io/organization": "{{ .Organization }}"
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  cloudName: {{ .Cloud }}
  identityRef:
    name: {{ .CloudConfig }}
    kind: Secret
  managedAPIServerLoadBalancer: true
  managedSecurityGroups: true
  nodeCidr: 10.6.0.0/24
  externalNetworkId: {{ .ExternalNetworkID }}
  {{- if .DNSNameservers }}
  dnsNameservers:
  {{- range .DNSNameservers }}
  - {{ . }}
  {{- end }}
  {{- end }}