apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: {{ .ManagementCluster }}-clusters-{{ .WorkloadCluster }}
  namespace: default
spec:
  interval: 1m
  {{- if .SkipMAPI }}
  path: "./management-clusters/{{ .ManagementCluster }}/organizations/{{ .Organization }}/workload-clusters/{{ .WorkloadCluster }}"
  {{- else }}
  path: "./management-clusters/{{ .ManagementCluster }}/organizations/{{ .Organization }}/workload-clusters/{{ .WorkloadCluster }}/mapi"
  {{- end }}
  postBuild:
    substitute:
      cluster_name: "{{ .WorkloadCluster }}"
      organization: "{{ .Organization }}"
      {{- if .ClusterRelease }}
      cluster_release: "{{ .ClusterRelease }}"
      {{- end }}
      {{- if .DefaultAppsRelease }}
      default_apps_release: "{{ .DefaultAppsRelease }}"
      {{- end }}
  prune: false
  serviceAccountName: automation
  sourceRef:
    kind: GitRepository
    name: {{ .RepositoryName }}
  timeout: 2m
