apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: {{ .Name }}-gitops
  namespace: default
spec:
  {{- if .KeyPair.PrivateData }}
  decryption:
    provider: sops
    secretRef:
      name: sops-gpg-master
  {{- end }}
  interval: 1m
  path: ./management-clusters/{{ .Name }}
  prune: false
  serviceAccountName: automation
  sourceRef:
    kind: GitRepository
    name: {{ .RepositoryName }}
  timeout: 2m
