apiVersion: kustomize.toolkit.fluxcd.io/v1beta2
kind: Kustomization
metadata:
  name: {{ .Name }}-gitops
  namespace: default
spec:
  interval: {{ .RefreshInterval }}
  path: ./management-clusters/{{ .Name }}
  prune: false
  serviceAccountName: {{ .ServiceAccount}}
  sourceRef:
    kind: GitRepository
    name: {{ .RepositoryName }}
  timeout: {{ .RefreshTimeout }}
