{{- if .Base -}}
apiVersion: kustomize.config.k8s.io/v1beta1
buildMetadata: [originAnnotations]
{{- if or .UserValuesConfigMap .UserValuesSecret }}
patchesStrategicMerge:
  - patch_app_userconfig.yaml
{{- end }}
kind: Kustomization
resources:
  - ../../../../../../../../{{ .Base }}
{{- if .UserValuesConfigMap }}
  - configmap.yaml
{{- end }}
{{- if .UserValuesSecret }}
  - secret.yaml
{{- end }}
{{- end }}
