{{- if and .Base (or .UserValuesConfigMap .UserValuesSecret) -}}
apiVersion: application.giantswarm.io/v1alpha1
kind: App
metadata:
  name: {{ .WorkloadCluster}}-{{ .Name }}
spec:
  userConfig:
{{- if .UserValuesConfigMap }}
    configMap:
      name: {{ .WorkloadCluster}}-{{ .Name }}-user-values
      namespace: org-{{ .Organization }}
{{- end }}
{{- if .UserValuesSecret }}
    secret:
      name: {{ .WorkloadCluster}}-{{ .Name }}-user-values
      namespace: org-{{ .Organization }}
{{- end }}
{{- end }}
