{{- if .UserValuesSecret -}}
apiVersion: v1
data:
  values: {{ .UserValuesSecret | b64enc }}
kind: Secret
metadata:
  name: {{ .WorkloadCluster}}-{{ .Name }}-user-values
  namespace: org-{{ .Organization }}
{{- end }}
