{{- if .AppUserValuesSecret -}}
apiVersion: v1
data:
  values: {{ .AppUserValuesSecret | b64enc }}
kind: Secret
metadata:
  name: {{ .WorkloadCluster}}-{{ .AppName }}-user-values
  namespace: org-{{ .Organization }}
{{- end }}
