apiVersion: image.toolkit.fluxcd.io/v1beta1
kind: ImageUpdateAutomation
metadata:
  name: {{ .ManagementCluster}}-updates
  namespace: default
spec:
  git:
    checkout:
      ref:
        branch: main
    commit:
      author:
        email: fluxcdbot@users.noreply.github.com
        name: fluxcdbot
      messageTemplate: |
        automated app upgrades:
        {{ "{{ range $image, $_ := .Updated.Images -}}" }}
        - {{ "{{ $image.Repository }} to {{ $image.Identifier }}" }}
        {{ "{{ end -}}" }}
    push:
      branch: main
  interval: 1m0s
  sourceRef:
    kind: GitRepository
    name: {{ .Repository }}
  update:
    path: ./management-clusters/{{ .ManagementCluster }}
    strategy: Setters
