apiVersion: infrastructure.cluster.x-k8s.io/v1alpha4
kind: AzureCluster
metadata:
  labels:
    "release.giantswarm.io/version": "{{ .Version }}"
    "giantswarm.io/cluster": "{{ .Name }}"
    "cluster.x-k8s.io/cluster-name": "{{ .Name }}"
    "giantswarm.io/organization": "{{ .Owner }}"
    "cluster.x-k8s.io/watch-filter": "capi"
  name: {{ .Name }}
  namespace: {{ .Namespace }}
spec:
  location: ""
  networkSpec:
    subnets:
    - name: {{ .Name }}-controlplane-subnet
      role: control-plane
      routeTable:
        name: {{ .Name }}-node-routetable
    vnet:
      name: {{ .Name }}-vnet
  resourceGroup: {{ .Name }}
