apiVersion: v1
kind: Secret
metadata:
  creationTimestamp: null
  labels:
    "release.giantswarm.io/version": "{{ .Version }}"
    "giantswarm.io/cluster": "{{ .Name }}"
    "cluster.x-k8s.io/cluster-name": "{{ .Name }}"
    "giantswarm.io/organization": "{{ .Organization }}"
    "cluster.x-k8s.io/watch-filter": "capi"
    "cluster.x-k8s.io/role": "bastion"
  name: {{ .Name }}-bastion
  namespace: {{ .Namespace }}
data:
  value: {{ .BastionIgnitionSecretBase64 }}
type: cluster.x-k8s.io/secret
