apiVersion: v1
kind: Secret
metadata:
  labels:
    cluster.x-k8s.io/cluster-name: {{ .Name }}
    cluster.x-k8s.io/role: bastion
    cluster.x-k8s.io/watch-filter: capi
    giantswarm.io/cluster: {{ .Name }}
    giantswarm.io/organization: {{ .Organization }}
    release.giantswarm.io/version: {{ .ReleaseVersion }}
  name: {{ .Name }}-bastion-ignition
  namespace: {{ .Namespace }}
stringData:
  value: |-
    {
       "ignition":{
          "version":"2.2.0"
       },
       "passwd":{
          "users":[
             {
                "name":"giantswarm",
                "sshAuthorizedKeys":[
                   "ssh-rsa AAAABEKf fake@giantswarm"
                ],
                "groups":[
                   "sudo",
                   "docker"
                ],
                "shell":"/bin/bash",
                "uid":1000
             }
          ]
       },
       "storage":{
          "files":[
             {
                "path":"/etc/hostname",
                "filesystem":"root",
                "mode": 420,
                "contents":{
                   "source":"data:,{{ .Name }}-bastion"
                }
             },
             {
                "path":"/etc/ssh/sshd_config",
                "filesystem":"root",
                "mode": 420,
                "contents":{
                   "source":"data:text/plain;charset=utf-8;base64,{{ .BastionSSHDConfig }}"
                }
             },
             {
                "path":"/etc/ssh/trusted-user-ca-keys.pem",
                "filesystem":"root",
                "mode": 420,
                "contents":{
                   "source":"data:text/plain;charset=utf-8;base64,{{ .SSOPublicKey }}"
                }
             }
          ]
       }
    }
type: cluster.x-k8s.io/secret
